---
const { id = '', title = '', description = '', active = false } = Astro.props;
const className = active ? 'tab-content active' : 'tab-content';
---

<div id={id} class={className}>
  {title && <h2>{title}</h2>}
  {description && <p>{description}</p>}
  <slot />
</div>
